build/
*.mode*
*.pbxuser
.svn
*.orig
*.perspective
*.perspectivev3
*.trace
*project.xcworkspace/
*.xcuserdatad
*.xccheckout

# OSX Noise
.DS_Store

# Git Noise
*.orig
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
