build
.DS_Store
*.trace
*.orig
library/IBAForms.xcodeproj/*.perspectivev3
library/IBAForms.xcodeproj/*.mode1v3
library/IBAForms.xcodeproj/*.pbxuser
library/IBAForms.xcodeproj*project.xcworkspace/
*/build/*
*/*.xcodeproj/*.pbxuser
*/*.xcodeproj/*.perspective*
*/*.xcodeproj/*.mode*